/*** navigation bar without bootstrap ***/

body {
    margin: 0 auto;
    font-family: Arial;
}

h2 {
    padding-top: 70px;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    background-color: #e6ecf3;
    padding: 0;
}

li {
    padding: 20px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    margin-left: auto;
    padding-right: 10px;
}

.signup {
    border: solid #364a5f;
    padding: 15px 3px;
    border-radius: 10px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.7em;
        padding: 0;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}