        html,
        body {
            margin: 0 auto;
            font-family: sans-serif;
        }
        
        .bg {
            padding-top: 6rem;
            color: black;
            font-family: 'Trocchi', serif;
            font-size: 45px;
            font-weight: normal;
            line-height: 48px;
        }
        
        .how-it-work {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5%
        }
        
        .how-it-work>.container {
            text-align: center;
            display: flex;
            width: 80%;
            height: 100%;
            margin-top: 10%;
            padding: 5%;
            border: 1px solid #dee2e6;
        }
        
        .how-it-work>.container>img {
            height: 100%;
            width: 70%;
            object-fit: contain;
            align-self: flex-end;
            padding: 20px;
        }
        
        .how-it-work>.container>p {
            text-align: left;
            padding-top: 2em;
            flex: 1 1 auto;
            font-size: 2em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        
        .left {
            flex-direction: row-reverse;
            background-color: #dee0e2;
        }
        
        .download {
            width: 80%;
            display: flex;
            justify-content: space-arround;
            align-items: center;
            flex-direction: column;
            background-image: url(../assets/happy-people.jpg);
            margin: 10%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.8;
        }
        
        .download>p {
            font-weight: bold;
            font-size: 4vh;
            /* color: #060606; */
            color: white;
        }
        
        .download>img {
            width: 30%;
            height: 20%;
            max-height: 100%;
            cursor: pointer;
        }
        
        .done {
            text-decoration: line-through;
        }
        
        h2 {
            text-align: center;
            padding-top: 80px;
            font-family: 'Trocchi', serif;
            font-size: 45px;
            font-weight: normal;
            line-height: 48px;
        }
        
        .chore-body {
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
        }
        
        .grid-container {
            border: 1px solid #dee2e6;
            text-align: center;
        }
        
        .grid-container>.input {
            display: grid;
            gap: 10px;
            padding: 30px 30px 10px 10px;
            grid-template-columns: 1fr auto;
        }
        
        #chores-name {
            padding: 20px;
            margin-left: 5%;
        }
        
        .add-chores {
            background-color: #57d855;
            padding: 10px;
        }
        
        .add-chores:hover {
            border-color: blue;
            transform: scale(1.1);
        }
        
        .chores-list {
            padding-right: 40px;
        }
        
        .chores-list>li:hover {
            font-weight: bold;
            cursor: pointer;
            background-color: #e8e7e7;
        }
        
        .chores-list>li {
            text-align: left;
            list-style-type: none;
            padding: 20px;
            margin: 0px;
            border-top: 1px solid #dee2e6;
            display: grid;
            grid-template-columns: 1fr auto;
        }
        
        .delete {
            border: none;
            font-size: 1em;
            font-weight: bold;
            color: red;
            background-color: transparent;
        }
        
        .delete:hover {
            color: #565353;
        }
        
        .signup-form {
            text-align: center;
            border: 1px solid #dee2e6;
            margin-left: 20%;
            margin-right: 20%;
            padding-top: 20px;
            padding-right: 30px;
        }
        
        .signup-form>form {
            display: grid;
            /* grid-template-rows: auto 1fr; */
            grid-template-columns: 20% auto;
            gap: 10px;
        }
        
        form>input {
            padding: 10px;
        }
        
        form>label {
            padding: 5px;
            font-family: "Gill Sans", sans-serif;
        }
        
        #submit {
            justify-self: end;
            background-color: #3383d6;
            border: none;
            color: white;
            padding: 12px 20px;
            text-decoration: none;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
        }
        
        .contact-form {
            height: 100%;
            text-align: center;
            display: grid;
            gap: 15px;
            margin-left: 20%;
            margin-right: 20%;
        }
        
        .contact-form>textarea {
            padding: 25px;
        }